.currentCard {
  margin-top: 2%;
  width: 70%;
  text-align: center;
  margin-bottom: 10%;
}

.header {
  font-size: 45px;
  font-weight: bold;
}

.currentText {
  font-size: 30px;
  font-weight: normal;
}

.forcast {
  text-align: center;
}

.icon {
  width: 15%;
  margin-left: 43%;
  text-align: center;
  position: relative;
}
